.first__container {
}

.first__container__element--1 {
  background-color: hsl(246, 80%, 60%);
}

.first__container__element--1 {
  color: hsl(236, 100%, 87%);
}

a {
  text-decoration: none;
  color: hsl(236, 100%, 87%);
}

a:hover {
  color: white;
}

.first__container__element--1 a {
  color: white;
  text-decoration: none;
}

.first__container__element--2 {
  background-color: hsl(235, 46%, 20%);
}
